{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_details'|trans({'%title%': recipe.title|default('')}) }}
{% endblock %}

{% block body %}
    {% if app.user %}
        <div style="text-align: right"><strong><a href="{{ url('user_show', {id: app.user.id}) }}">{{ app.user.userIdentifier }}</a></strong></div>
        <div style="text-align: right">
            <a class="btn btn-secondary" href="{{ url('app_logout') }}">{{ 'action.logout'|trans }}</a>
        </div>
    {% else %}
        <p></p>
        <div style="text-align: right">
            <a class="btn btn-dark" href="{{ url('app_login') }}">{{ 'action.login'|trans }}</a>
        </div>
    {% endif %}
    <h1>{{ 'title.recipe_details'|trans({'%title%': recipe.title|default('')}) }}</h1>
    {% if recipe is defined and recipe|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ recipe.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>{{ recipe.author.nick }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  recipe.category.title }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{ recipe.content }}</dd>
            <dt>{{ 'title.comment_list'|trans }}</dt>
            <dd>
                <a href="{{ url('comment_index', {id: recipe.id}) }}" title="{{ 'action.show'|trans }}">
                    {{ 'action.show'|trans }}
                </a>
            </dd>
        </dl>
        <div class="text-center">
            <a class="btn btn-outline-primary" href="{{ url('recipe_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}