{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.user_details'|trans({'%nick%': user.nick|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.user_details'|trans({'%nick%': user.nick|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ user.id }}</dd>
            <dt>{{ 'label.nick'|trans }}</dt>
            <dd>{{ user.nick }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{  user.email }}</dd>
        </dl>
        <div>
            <a href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit_password'|trans }}">
                {{ 'action.edit_password'|trans }}
            </a>
        </div>
        <div>
            <a href="{{ url('user_data', {id: user.id}) }}" title="{{ 'action.edit_data'|trans }}">
                {{ 'action.edit_data'|trans }}
            </a>
        </div>
        <div class="text-center">
            <a class="btn btn-outline-primary" href="{{ url('recipe_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </div>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}